@font-face {
    font-family: 'exo';
    src: url('fonts/exo-bold-webfont.eot');
    src: url('fonts/exo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-bold-webfont.woff') format('woff'),
         url('fonts/exo-bold-webfont.ttf') format('truetype'),
         url('fonts/exo-bold-webfont.svg#exobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'exo';
    src: url('fonts/exo-italic-webfont.eot');
    src: url('fonts/exo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-italic-webfont.woff') format('woff'),
         url('fonts/exo-italic-webfont.ttf') format('truetype'),
         url('fonts/exo-italic-webfont.svg#exoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'exo';
    src: url('fonts/exo-thin-webfont.eot');
    src: url('fonts/exo-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-thin-webfont.woff') format('woff'),
         url('fonts/exo-thin-webfont.ttf') format('truetype'),
         url('fonts/exo-thin-webfont.svg#exolight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'exo';
    src: url('fonts/exo-light-webfont.eot');
    src: url('fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-light-webfont.woff') format('woff'),
         url('fonts/exo-light-webfont.ttf') format('truetype'),
         url('fonts/exo-light-webfont.svg#exolight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'exo';
    src: url('fonts/exo-regular-webfont.eot');
    src: url('fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-regular-webfont.woff') format('woff'),
         url('fonts/exo-regular-webfont.ttf') format('truetype'),
         url('fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}