/* Featured box */
.feature_box { position: relative; }
.feature_box a { display: block; overflow: hidden; }
.feature_box a:hover { text-decoration: none; }
.feature_box .photo { width: 100%; line-height: 0; position: relative; border-bottom-width: 3px; border-style: solid; }
.feature_box .desc { padding: 20px 20px 50px; overflow: hidden; }
.feature_box .desc h4 {}
.feature_box .desc p { margin-bottom: 0; }
.feature_box .desc a.more { display: block; position: absolute; right: 20px; bottom: 20px; }

.feature_box .photo a img { 
	-webkit-transform: scaleY(1); -moz-transform: scaleY(1); -ms-transform: scaleY(1); -o-transform: scaleY(1); transform: scaleY(1); 
	-webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;
	opacity: 0.99; filter: alpha(opacity=99);
}
.feature_box .photo a:hover img { 
	-webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2);
}

/* Blockquote */
blockquote {}
blockquote .txt { position: relative; padding: 20px; background: url(../images/black_overlay.png); margin-bottom: 40px; }
blockquote .txt .arrow { width: 53px; height: 29px; position: absolute; left: 13%; bottom: -29px; background: url(../images/black_overlay_arrow.png); }
blockquote .txt p { margin-bottom: 0; }
blockquote .author { position: relative; min-height: 75px; overflow: hidden; }
blockquote .author .photo { width: 20%; max-width: 80px; margin-right: 15px; margin-left: 10%; line-height: 0; float: left; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); }
blockquote .author .desc { width: 62%; float: left; }
blockquote .author h6 { margin-bottom: 0; padding-top: 8px; }
blockquote .author p { margin-bottom: 0; }

.testimonial { position: relative; }
.testimonial .header { position: relative; }
.testimonial a.rslides_nav.prev { position: absolute; bottom: 20px; right: 53px; }
.testimonial a.rslides_nav.next { position: absolute; bottom: 20px; right: 20px; }
.testimonial.inner-padding { padding: 20px 20px 40px !important; }
.column-fixed .testimonial.inner-padding { padding: 20px !important; }

.testimonials-page {}
.testimonials-page li { padding: 20px; }

.recent_works {}
.recent_works .header { position: relative; padding: 20px; }
.recent_works .header h3 { margin: 0; }
.recent_works .header a.button-more { top: 17px; right: 20px; }
.recent_works .recent_works_slider { height: 165px; }
.recent_works .photo {}
.recent_works .photo img { line-height: 0; display: block; }
.recent_works .desc { padding: 13px 20px 10px; text-align: center; text-transform: uppercase; font-size: 26px; line-height: 28px; display: block; }
.recent_works .desc h3 { margin: 0; }
.recent_works a.slider_control { position: absolute; top: 37%; margin-top: -17px; }
.recent_works a.slider_control_prev { left: 20px; }
.recent_works a.slider_control_next { right: 20px; }


/* Gallery */
.gallery .gallery-item { width: 23% !important; margin-right: 1% !important; margin-left: 1% !important; }
.gallery .gallery-item .gallery-icon { overflow: hidden; line-height: 0; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); }
.gallery .gallery-item img { border: 0 !important; line-height: 0; display: block; }
.gallery .gallery-item .gallery-icon { transition: opacity .20s ease-in-out; -o-transition: opacity .20s ease-in-out; -moz-transition: opacity .20s ease-in-out; -webkit-transition: opacity .20s ease-in-out; }
.gallery .gallery-item .gallery-icon:hover { opacity: 0.6; filter: alpha(opacity=60); }

/* Reasons */
.info_box {}
.info_box .header { background: url(../images/black_overlay.png); position: relative; padding: 20px; }
.info_box .header .arrow { width: 53px; height: 29px; position: absolute; left: 50%; bottom: -29px; margin-left: -26px; background: url(../images/black_overlay_arrow.png); }
.info_box .header h4 { margin: 0; }
.info_box .desc { padding: 35px 20px 20px; }
.info_box .desc ul {}
.info_box .desc ul li { padding-left: 35px; margin-bottom: 10px; }

/* Get in touch */
.get_in_touch {}
.get_in_touch ul {}
.get_in_touch ul li { overflow: hidden; position: relative; min-height: 35px; padding: 15px 0px 0px 60px; margin-bottom: 10px; }
.get_in_touch ul li i { display: block; width: 50px; height: 50px; line-height: 50px; text-align: center; font-size: 30px; overflow: hidden; position: absolute; left: 0; top: 0; }
.get_in_touch ul li p { margin-bottom: 0; text-transform: uppercase; }
.get_in_touch ul li.address { min-height: 50px; padding-top: 5px; }

.widget-area .get_in_touch { background: none; }

/* Call to action */
.call_to_action {}
.call_to_action .inner-padding { overflow: hidden; text-align: center; }
.widget-area .call_to_action .inner-padding { padding: 40px 20px !important; }
.call_to_action .inner-padding .vertical-align-middle { vertical-align:middle; line-height:28px; display:inline-block; }
.call_to_action .inner-padding h4 { margin-bottom: 0 !important; }
.call_to_action .inner-padding .button { margin: 15px 0 0; }

/* Team */
.team { text-align: center; padding: 0 0 20px; position: relative; }
.team .photo { overflow: hidden; margin-bottom: 6px; }
.team h4 { margin-bottom: 1px; font-size: 20px; line-height: 22px; }
.team p { margin-bottom: 8px; }

.team .links a.link { width: 28px; height: 28px; line-height: 28px; text-align: center; font-size: 14px; -webkit-border-radius: 50%; border-radius: 50%; display: inline-block; text-decoration:none;
	transition: opacity .20s ease-in-out; 
	-o-transition: opacity .20s ease-in-out;
	-moz-transition: opacity .20s ease-in-out;
	-webkit-transition: opacity .20s ease-in-out;
}
.team .links a:hover.link {}

/* Latest posts */
.Latest_posts { overflow: hidden; }
.Latest_posts .header { position: relative; }
.Latest_posts ul {}
.Latest_posts ul li { min-height: 85px; position: relative; margin-bottom: 20px; overflow: hidden; }
.Latest_posts ul li .photo { width: 38%; float: left; line-height: 0; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); }
.Latest_posts ul li .desc { padding: 3px 0px 0px 0px; width: 57%; margin-left: 5%; float: left; }
.Latest_posts ul li .desc.no_img { margin-left: 43%; }
.Latest_posts ul li .desc h6 { margin-bottom: 0; font-size: 14px; }
.Latest_posts ul li .desc p { margin-bottom: 0; font-size: 12px; }
.Latest_posts ul li.last { margin-bottom: 0; }
.Latest_posts a.more { display: block; float: right; }

.Latest_posts .jcarousel-container,
.Latest_posts .jcarousel-clip-vertical,
.Latest_posts .jcarousel-item { padding: 0 !important; width: 100% !important; }
.Latest_posts a.slider_control_prev { position: absolute; left: auto; top: auto; bottom: 0px; right: 33px; }
.Latest_posts a.slider_control_next { position: absolute; left: auto; top: auto; bottom: 0px; right: 0px; }

/* Recent posts */
.Recent_posts {}
.Recent_posts ul {}
.Recent_posts ul li { min-height: 45px; position: relative; margin-bottom: 20px; }
.Recent_posts ul li .photo { width: 65px; height: 45px; position: absolute; left: 0; top: 0; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); }
.Recent_posts ul li .desc { padding: 3px 0px 0px 80px;}
.Recent_posts ul li .desc.no_img { padding-left: 0px; }
.Recent_posts ul li .desc h6 { margin-bottom: 0; font-size: 14px; }
.Recent_posts ul li .desc p { margin-bottom: 0; font-size: 12px; }
.Recent_posts ul li.last { margin-bottom: 0; }

/* Offer page */
.offer-page {}
.offer-page .offer-item { overflow: hidden; margin-bottom: 30px; width: 50%; float: left; }
.offer-page .offer-item .photo { padding: 0 20px; text-align: center; margin-bottom: 15px; }
.offer-page .offer-item .desc {padding: 0 20px; text-align: center; }
.offer-page .offer-right { border-left-width: 1px; border-style: solid; width: 49%; }

/* Recent_comments */
.Recent_comments {}
.Recent_comments ul {}
.Recent_comments ul li { margin-bottom: 20px; }
.Recent_comments ul li .text { position: relative; padding: 10px; background: url(../images/black_overlay.png); margin-bottom: 32px; }
.Recent_comments ul li .text .arrow { width: 53px; height: 29px; position: absolute; left: 50%; bottom: -29px; margin-left: -26px; background: url(../images/black_overlay_arrow.png); }
.Recent_comments ul li .text p { margin-bottom: 0; }
.Recent_comments ul li p.author { text-align: center; font-size: 12px; }
.Recent_comments ul li.last { margin-bottom: 0; }

#Footer .Recent_comments ul li .text { padding: 0; background: none; margin: 0 0 5px 0; }
#Footer .Recent_comments ul li .text .arrow { display: none; }
#Footer .Recent_comments ul li p.author { text-align: left; }

/* Image frames */
.wp-caption { display: inline-block; line-height: 0; }
.wp-caption.scale-with-grid { max-width:100%;}
.wp-caption a { line-height: 0; display: block; position: relative; overflow: hidden; z-index: 1; }
.wp-caption a img { padding:0; }
.wp-caption .wp-caption-text { display: block; font-size: 13px; text-align: center; margin:0; padding: 12px 0 6px; line-height: normal; }
.wp-caption.no-border .photo { background: none !important; }

.wp-caption.border .photo, .wp-caption.border > img, .wp-caption.border > a > img { line-height: 0; }
.wp-caption .photo .photo_wrapper { position: relative; overflow: hidden; width: auto; height: auto; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); }
.wp-caption .photo .photo_wrapper img { display: block; }
.wp-caption .photo .photo_wrapper i { display: none; font-size: 70px; line-height: 70px; text-decoration: none; position: absolute; left: 50%; top: 50%; margin-left: -35px; margin-top: -35px; }
.wp-caption .photo .photo_wrapper a .mask { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.wp-caption .photo .photo_wrapper a:hover i { display: block; -webkit-animation: moveFromLeft 400ms ease; -moz-animation: moveFromLeft 400ms ease; -ms-animation: moveFromLeft 400ms ease; }
.wp-caption .photo .photo_wrapper a:hover .mask { display: block; -webkit-animation: moveFromBottom 300ms ease;-moz-animation: moveFromBottom 300ms ease; -ms-animation: moveFromBottom 300ms ease; }

.alignleft { float: left; margin: 15px 15px 15px 0px; }
.alignright { float: right; margin: 15px 0px 15px 15px; }
.aligncenter { text-align: center; margin: 15px auto; display:block; }
.aligncenter img { display: inline; }
.sticky, .gallery-caption, .bypostauthor { }

/* FAQ / Accordion */
.accordion .question {}
.accordion .question h5 { margin: 0px 0px 1px 0px; cursor: pointer; padding: 20px 50px 20px 20px; font-size: 14px; line-height: 18px; position: relative; }
.accordion .question h5 span.icon { width: 16px; height: 16px; overflow: hidden; position: absolute; right: 20px; top: 20px; }
.accordion .question .answer { padding: 20px 20px 20px 20px; overflow: hidden; margin-bottom: 1px; }
.accordion .active h5 { margin-bottom: 0px; }
.accordion .active h5 span.icon {}

.faq .question {}
.faq .question h5 { margin: 0px 0px 1px 0px; cursor: pointer; padding: 20px 50px 20px 20px; font-size: 14px; line-height: 18px; position: relative; }
.faq .question h5 span.icon { width: 16px; height: 16px; overflow: hidden; position: absolute; right: 20px; top: 20px; }
.faq .question .answer { padding: 20px 20px 20px 20px; overflow: hidden; margin-bottom: 1px; }
.faq .active h5 { margin-bottom: 0px; }
.faq .active h5 span.icon {}

/* Code Hightlighter */
code, pre {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 50%, #f2f2f2 50%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #ffffff 50%,#f2f2f2 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 50%,#f2f2f2 50%); /* Opera 11.10+ */
	background: linear-gradient(top,  #ffffff 50%,#f2f2f2 50%); /* W3C */
    background-size: 42px 42px;
	padding: 21px 15px 20px;
	display: block;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	line-height: 21px !important;
	border-width: 1px;
	border-style: solid;
	font-family: monospace !important;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.04); box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.04);
}

.light code, .light pre {
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 50%, #292929 50%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #333333 50%,#292929 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 50%,#292929 50%); /* Opera 11.10+ */
	background: linear-gradient(top,  #333333 50%,#292929 50%); /* W3C */
	color: #D2D2D2;
}

code p, pre p { margin-bottom:0 !important; }

/* Table */
table { width: 100%; margin-bottom: 15px; border-collapse: collapse; border-spacing: 0; }
table thead th, table tbody td { padding: 14px; text-align: center; border-width: 1px; border-style: solid; }
table thead th { font-weight: bold; }
table tbody td {}
table tbody tr.odd td {}

/* Lists */
ul.list, ol.list { margin-bottom: 15px; }
ul.list ul, ul.list ol, ol.list ul, ol.list ol { margin: 5px 0 5px 30px; }
ul.list li, ol.list li { margin-bottom: 5px; }

ul.list { list-style: disc outside; }
ul.list li { margin-left: 25px; }

ol.list { list-style: decimal outside; }
ol.list li { margin-left: 0px; }

ol.list_roman { list-style: upper-roman outside; }
ol.list_roman li { margin-left: 0px; }

ol.list_alpha { list-style: upper-alpha outside; }
ol.list_alpha li { margin-left: 0px; }

ul.list_tick { list-style: none; margin-left: 10px; }
ul.list_tick li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_tick.png) no-repeat 0 1px; }

ul.list_info { list-style: none; margin-left: 10px; }
ul.list_info li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_info.png) no-repeat 0 1px; }

ul.list_warning { list-style: none; margin-left: 10px; }
ul.list_warning li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_warning.png) no-repeat 0 1px; }

ul.list_plus { list-style: none; margin-left: 10px; }
ul.list_plus li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_add.png) no-repeat 0 1px; }

ul.list_minus { list-style: none; margin-left: 10px; }
ul.list_minus li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_minus.png) no-repeat 0 1px; }

ul.list_arrow { list-style: none; margin-left: 10px; }
ul.list_arrow li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_arrow.png) no-repeat 0 1px; }

ul.list_help { list-style: none; margin-left: 10px; }
ul.list_help li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_help.png) no-repeat 0 1px; }
										
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }

/* Pricing box */
.pricing-box { border-top-width: 3px; border-style: solid; overflow: hidden; }
.pricing-box .plan-header { text-align: center; padding-bottom: 40px; margin-bottom: 5px; }
.pricing-box .plan-header h3 { margin-bottom: 0; padding: 18px 5px 10px; font-size: 27px; line-height: 27px; margin: 0px; }
.pricing-box .plan-header .price { font-size: 44px; line-height: 44px; }
.pricing-box .plan-header .price > span { position: relative; padding: 2px 10px; }
.pricing-box .plan-header .price sup { font-size: 15px; font-weight: 100; opacity: 0.5; filter: alpha(opacity=50); }
.pricing-box .plan-header .price sup.period { font-size: 10px; font-weight: 100; opacity: 0.85; filter: alpha(opacity=85); margin-left: 3px; }
.pricing-box .plan-header .period { padding-bottom: 7px; margin-bottom: 3px; }
.pricing-box .plan-header .period a.button { margin-bottom: 10px; }
.pricing-box .plan-inside { padding-bottom: 15px; }
.pricing-box .plan-inside ul {}
.pricing-box .plan-inside ul li { text-align: center; padding: 6px 10px; }
.pricing-box .plan-inside ul li.last {}
.pricing-box .btn a.button { margin-bottom: 25px; }

/* Our clients slider */
.Our_clients_slider { overflow: hidden; position: relative; }
.Our_clients_slider a.slider_control_prev { position: absolute; left: 20px; top: 50%; margin-top: -16px; padding-right: 0; border: 0; }
.Our_clients_slider a.slider_control_next { position: absolute; right: 20px; top: 50%; margin-top: -16px; }
.Our_clients_slider div.inside { margin: 0 60px !important; overflow: hidden; }
.Our_clients_slider ul {}
.Our_clients_slider li { width: 100%; height: 110px !important; margin-right: 0 !important; line-height: 110px !important; text-align: center; }
.Our_clients_slider li .slide-wrapper { padding: 0 20px; }
.Our_clients_slider li .slide-wrapper a { display: block; }
.Our_clients_slider li .slide-wrapper img { vertical-align: middle; }
.Our_clients_slider .slide-wrapper img { opacity: .5;}
.Our_clients_slider .slide-wrapper:hover img { opacity: .99; }


/* Isotope Filtering */
.isotope-item { z-index: 2;}
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1;}

.da-thumbs li { position: relative; float:left; }
.da-thumbs li a,
.da-thumbs li a img { display: block; position: relative;}
.da-thumbs li a { overflow: hidden;}
.da-thumbs li a div { position: absolute; width: 100%; height: 100%; text-align: center; }
.da-thumbs li a div h6 { font-size: 15px; width: 180px; font-weight: bold; position: absolute; left: 50%; top: 50%; margin: -7px 0 0 -90px; }
.da-thumbs li a:hover, .da-thumbs li a { text-decoration: none; }

/* Recent work */
#Projects {}
.Projects .column { margin-bottom: 10px; }
.Projects .Projects_inside { margin-bottom: 15px; }
.Projects_inside { float: left; width: 100%; }
.Projects_header { margin-bottom: 20px; }
.Projects_header .categories { width: 100%; float: none; }
.Projects_header .categories ul { float: left; }
.Projects_header .categories ul li { float: left; margin: 0 2px; font-size: 13px; }
.Projects_header .categories ul li.label h6 { line-height: 40px; margin: 0 7px 0 0; }
.Projects_header .categories ul li a { display: block; line-height: 39px; padding: 0 20px; overflow: hidden; margin-bottom: 2px; }
.Projects_header .categories ul li a:hover, .Projects_header .categories li.current-cat a { text-decoration: none; }
.Projects_header .categories ul li.current-cat a {}

#Content .Projects_header .categories { width: 100%; float: none; }
#Content .Projects_header .categories ul { float: left; }

/* Latest twitter */
.Twitter {}
.Twitter ul { margin-bottom: 0 }
.Twitter ul li { padding: 0; margin-bottom: 15px; }
.Twitter ul li p { margin-bottom: 0; }
.Twitter ul li span { padding-left: 0px; display: block; text-transform: uppercase; }
.Twitter ul li span a { padding: 3px 0 3px 0; text-transform: none; }
.Twitter ul li a { font-style: italic; font-weight: normal; padding-left: 0px; }
.Twitter a.twitter_time { display:block; margin-top:5px; }
.Twitter ul li.last { margin-bottom: 0; }
.Twitter ul li.first { padding-top: 0; }
.Twitter ul li > a { font-style: normal; }

/* Flickr */
.Flickr { overflow: hidden; }
.Flickr .flickr_badge_image { margin: 0; padding: 0; float: left; margin: 0 3% 3% 0; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); }
.Flickr .flickr_badge_image a { display: block; line-height: 0;  } 
.Flickr .flickr_badge_image a img {width: 57px; height: 57px; }